

<div class="container">

  <p class="h4 mb-5">MUSIC CATEGORY  PREDICTOR</p>
<form #addForm="ngForm" (ngSubmit)="onGetResults(addForm)">
  <div class="form-group">
    <input type="number" ngModel name="age" class="form-control" id="age" placeholder="Age" required>
  </div>

  <div class="form-group">
      <label for="gender">Gender</label>
      <select id="gender"  ngModel name="gender" class="form-control">
          <option *ngFor="let dpt of genders" [value]="dpt.id">
            {{ dpt.name }}
          </option>
      </select>
  </div>

  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary mb-5">Get Predictions</button>

</form>

<div *ngIf="predictionResult !== 'none'">
    <P class="h5 mb-5">{{predictionResult}}</P>
</div>
</div>